<section>
    <div id="actions">
        <button mat-stroked-button (click)="openDialog()">
            Novo Curso<mat-icon>add</mat-icon>
        </button>
        <input placeholder="Buscar curso" type="text" name="titulo">
    </div>
    <div id="teste">
        <div id="course_box" *ngFor="let course of courseHTTP.courses">
            <div id="course_actions">
                <a routerLink="/course-students/{{course.code}}" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <mat-icon id="icon-list-students">
                        group</mat-icon>
                </a>
                <mat-icon id="icon-delete" (click)="openDialogDelete(course.code)">delete</mat-icon>
            </div>
            <div id="photograph">
                <mat-icon id="icon-edit" (click)="openDialogEdit(course.code, course.description, course.menu)">
                    edit</mat-icon>
            </div>
            <h1>{{course.description}}</h1>
            <p>
                {{course.menu}}
            </p>
        </div>
    </div>
</section>