<menu>
    <p>
        <mat-icon [ngStyle]="
        {'color': '#CB1767', 'margin-right':'5px'}
        ">public</mat-icon>LeCursos
    </p>
    <ul>
        <li>
            <mat-icon [ngStyle]="
            {'color': '#CB1767','margin-right':'5px'}
            ">group</mat-icon><a routerLink="/students" routerLinkActive="active"
                ariaCurrentWhenActive="page">Alunos</a>
        </li>
        <li>
            <mat-icon [ngStyle]="
            {'color': '#CB1767', 'margin-right':'5px'}
            ">featured_play_list</mat-icon><a routerLink="/courses" routerLinkActive="active"
                ariaCurrentWhenActive="page">Cursos</a>
        </li>
    </ul>
</menu>