menu>p {
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 60px;
    padding-left: 20px;

}

menu ul {
    padding-left: 20px;
    max-width: 100%;
    list-style: none;
}

menu>ul>li {
    display: flex;
    align-items: center;
    height: 50px;
}

menu>ul>li>a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}