<div>
    <div id="actions">
        <mat-icon mat-button mat-dialog-close id="close">close</mat-icon>
    </div>
    <h1 mat-dialog-title>{{params.type_modal === 'add' ? 'Cadastrar': 'Editar'}} curso</h1>
    <div id="content">
        <form action="">
            <label for="titulo">Titulo</label>
            <input type="text" [(ngModel)]="descricao" name="titulo">
            <label>Ementa</label>
            <textarea [(ngModel)]="ementa" name="ementa"></textarea>
            <button *ngIf="params.type_modal === 'add'" mat-dialog-close (click)="saveCourse()">Cadastrar</button>
            <button *ngIf="params.type_modal === 'edit'" mat-dialog-close (click)="editCourse()">Editar</button>
        </form>
    </div>
</div>